{% extends  'mainapp/main.html' %}

{% block content%}
{% load static %}

<div class="container bg-dark text-white p-3 my-5">
  <h2 style="text-align: center;">{{gal.galleryName}}</h2>
  <div class="row">
    <div class="col-4">
      <p>{{ gal.galleryDescription }}<br></p>
    </div>
    <div class="col-4 text-center p-5">
      <a href="{% url 'virtualtour' gal.id %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Virtual Tour</a>
    </div>
    <div class="col-4">
      <h6>Contact Information</h6>
      <p>{{gal.contactInfo}}<br></p>
    </div>
  </div>
  <hr>
  <div class="row container text-center p-3 my-3">
    {% for i in art %}
    <div class="col-4">
      <img src="{{ i.image.url }}" alt="Image" style="width: 100%;">
      {{ i.name }}
    </div>
    {% endfor %}
  </div>
</div>






































































{% endblock %}