{% extends  'mainapp/main.html' %}

{% block content%}
{% load static %}
<!-- some of the codes in this file taken from bootsnipp.com and then re-designed by us -->


<div class="container p-3 my-3 bg-dark text-white">
  <div class="row blog">
    <div class="col-md-12">
      <div class="row p-2 my-2">

        {% for i in gal %}
        <div class="col-md-3">
          <div class="container-fluid" style="text-align:center;">

<!--            <a href="{% url 'galleryname' i.id %}">-->
<!--              <img src="{% static 'images/agatha.jpg' %}" alt="Image" style="width: 250px;height: 250px;">-->
<!--            </a>-->
            <h5>{{i.galleryName}}</h5>
            <br>
            <p>{{ i.galleryDescription }}</p>
            <br>
            <p>{{ i.contactInfo }}</p>
            <a href="{% url 'galleryname' i.id %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Show Gallery</a>
            <br><br>
            <a href="{% url 'virtualtour' i.id %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Virtual
              Tour</a>
          </div>
        </div>
        {% endfor %}

      </div>
    </div>
  </div>
</div>



















{% endblock %}