{% extends  'mainapp/main.html' %}
{% load static %}
{% block content%}

<!-- some of the codes in this file taken from bootsnipp.com and then re-designed by us -->

&nbsp
<h2>Latest Galleries</h2>
<hr>
<div class="container">
            <div class="row blog">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="container-fluid">
                                <a href="#">
                                    <img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;">
                                </a>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi convallis, felis cursus convallis consectetur, nibh justo dictum nulla, eget fermentum est lacus in ipsum.</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="container-fluid">
                                <a href="#">
                                    <img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;">
                                </a>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi convallis, felis cursus convallis consectetur, nibh justo dictum nulla, eget fermentum est lacus in ipsum.</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="container-fluid">
                                <a href="#">
                                    <img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;">
                                </a>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi convallis, felis cursus convallis consectetur, nibh justo dictum nulla, eget fermentum est lacus in ipsum.</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="container-fluid">
                                <a href="#">
                                    <img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;">
                                </a>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi convallis, felis cursus convallis consectetur, nibh justo dictum nulla, eget fermentum est lacus in ipsum.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</div>

<div class="container-fluid">
    <div class="p-3 mb-2 bg-dark text-white">
<div class="row">
    <div class="col-md-6">
        <h4>Join us quickly</h4>
        <h4 class="subheading">Lorem ipsum dolor sit amet</h4>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sem odio, scelerisque et diam vel, feugiat aliquam ipsum. Nunc consequat massa erat, a congue massa hendrerit vitae. Mauris vitae nibh sit amet orci cursus condimentum in non justo. Nullam et auctor diam, vitae porta velit. Vestibulum augue orci, feugiat eu tortor sed, tempus lobortis nibh. Proin eu molestie mauris, a vehicula massa. Etiam sed nunc id sapien commodo dictum a sit amet urna. Integer volutpat eget enim sit amet scelerisque. Aliquam at elementum libero.</p>
    </div>
    <div class="col-md-6">
            <div class="text-center">
                <a href="/register" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Register Now</a>
            </div>
    </div>
</div>
</div>
</div>

{% endblock %}