{% extends  'mainapp/main.html' %}

{% block content%}
{% load static %}
<!-- some of the codes in this file taken from bootsnipp.com and then re-designed by us -->

&nbsp
<div class="container bg-dark text-white">
    <div class="row">
        <div class="col-md-6">
            &nbsp
            <div class="list-group">
                <a href="/galleryname" class="list-group-item list-group-item-action">My Gallery 1</a>
                <a href="/galleryname" class="list-group-item list-group-item-action">My Gallery 2</a>
                <a href="/galleryname" class="list-group-item list-group-item-action">My Gallery 3</a>
                <a href="/galleryname" class="list-group-item list-group-item-action">My Gallery 4</a>
                <a href="/galleryname" class="list-group-item list-group-item-action">My Gallery 5</a>
            </div>
            &nbsp
        </div>

        <div class="col-md-6">
            &nbsp
            <form>
                <div class="form-group">
                    <label for="newusername">New username</label>
                    <input type="password" class="form-control" id="newusername" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="newemail">New email address</label>
                    <input type="email" class="form-control" id="newemail" aria-describedby="emailHelp"
                           placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                        else.</small>
                </div>
                <div class="form-group">
                    <label for="oldpassword">Old Password</label>
                    <input type="password" class="form-control" id="oldpassword" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="newpassword">New Password</label>
                    <input type="password" class="form-control" id="newpassword" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="reenternewpassword">Re enter new password</label>
                    <input type="password" class="form-control" id="reenternewpassword" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            &nbsp
        </div>
    </div>
</div>
&nbsp




{% endblock %}