{% extends  'mainapp/main.html' %}

{% block content%}
{% load static %}
<!-- some of the codes in this file taken from bootsnipp.com and then re-designed by us -->


&nbsp
<div class="container bg-dark text-white p-3 my-3">
    <div class="row">
        <div class="col-md-6">
            <form method="post" action="#" id="#">
                <div class="form-group files">
                    <label>Upload Your File</label>
                    <input type="file" class="form-control" multiple="">
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label>Gallery Name</label>
                    {{form.galleryName}}
                </div>
                <div class="form-group">
                    <label>Gallery Description</label>
                    {{form.galleryDescription}}
                </div>
                <div class="form-group">
                    <label>Contact Informations</label>
                    {{form.contactInfo}}
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
&nbsp




{% endblock %}