{% extends  'mainapp/main.html' %}

{% block content%}
{% load static %}
<!-- some of the codes in this file taken from bootsnipp.com and then re-designed by us -->


&nbsp
<div class="container bg-dark text-white p-3 my-3">

    <form method="POST">
        <div class="row">
            {% csrf_token %}
            <div class="col-md-6">
                <div class="form-group files">
                    {{ formi.name }} {{formi.image}}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Gallery Name</label>
                    {{form.galleryName}}
                </div>
                <div class="form-group">
                    <label>Gallery Description</label>
                    {{form.galleryDescription}}
                </div>
                <div class="form-group">
                    <label>Contact Informations</label>
                    {{form.contactInfo}}
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>

</div>
&nbsp


{% endblock %}