{% extends  'mainapp/main.html' %}

{% block content%}
{% load static %}

<div class="container bg-dark text-white p-3 my-5">
    <h2 style="text-align: center;">{{gal.galleryName}}</h2>
    <div class="row">
        <div class="col-4">
            <p>{{ gal.galleryDescription }}</p>
        </div>
        <div class="col-4 text-center p-5">
            <a href="{% url 'galleryname' gal.id %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Exit Virtual
                Tour</a>
        </div>
        <div class="col-4">
            <h6>Contact Information</h6>
            <p>{{gal.contactInfo}}</p>
        </div>
    </div>
    <hr>

    <h3> Unity ekranında unity tarafından sağlanan hazır bir oyun gösterilmiştir.</h3>
    <h3> Amacımız en azından unity projesini web sayfasında gösterebilmiş olmaktır. </h3>
    <h3> Projenin içeriği ile bir alakası yoktur. </h3>

    <div class="row" style="text-align:center;">
        <center>
            <div id="unityContainer" style="width: 1138px; height: 630px"></div>
        </center>
    </div>
</div>


{% endblock %}